<%- include('./../views/partials/head') %>
<script> const title = document.getElementById('title'); title.textContent = 'Gamerlab - Editá tu contraseña';</script>

<body>
    <%- include('./../views/partials/header') %>
    
    <form action="/users/profile/password/<%=user.id%>?_method=PUT" method="POST" class="formulario-prod">
        
    <h1 class="titulo-formulario">EDICIÓN DE CONTRASEÑA</h1>

    <div class="control-formulario">
        <label>Actual contraseña:</label>
        <input type="password" name="contrasena" class="usuario <%= locals.errors && errors.contrasena ? 'is-invalid' : null %>" placeholder="Contraseña">
        <% if (locals.errors && errors.contrasena) { %>
            <div class="text-danger">
            <%= errors.contrasena.msg %>
            </div>
        <% } %>
    </div>
 
    <div class="control-formulario">
        <label>Nueva contraseña:</label>
        <input type="password" name="nuevaContrasena" class="usuario <%= locals.errors && errors.contrasena ? 'is-invalid' : null %>" placeholder="Contraseña">
        <% if (locals.errors && errors.contrasena) { %>
            <div class="text-danger">
            <%= errors.contrasena.msg %>
            </div>
        <% } %>
    </div>

    <button type="submit" class="formulario-boton">Modificar contraseña</button>
    
</form>


    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
    <script src="/js/perfil.js"></script>

</main>
<%- include('./../views/partials/footer') %>

</body>
</html>