<%-include('./../views/partials/head') %>
<script> const title = document.getElementById('title'); title.textContent = 'Gamerlab - Registrate';</script>

<body>
    <%- include('./../views/partials/header') %>

<main>

    <form method="POST" action="/users/register" class="formulario-registro" enctype="multipart/form-data">
        <div class="usuariologo"><i class="far fa-user-circle"></i></div>
        
            <div class="control-formulario">
                <label>Nombre:</label>
                <input type="text" name="nombre" class="usuario <%= locals.errors && errors.nombre? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.nombre : null %>" placeholder="Nombre">
                <% if (locals.errors && errors.nombre) { %>
                    <div class="text-danger">
                    <%= errors.nombre.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Apellido:</label>
                <input type="text" name="apellido" class="usuario <%= locals.errors && errors.apellido? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.apellido : null %>" placeholder="Apelllido">
                <% if (locals.errors && errors.apellido) { %>
                    <div class="text-danger">
                    <%= errors.apellido.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Dirección de email:</label>
                <input id="email" type="email" name="email" class="usuario <%= locals.errors && errors.email ? 'is-invalid' : null %>"value="<%= locals.oldData ? oldData.email : null %>" placeholder="ejemplo@email.com">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                    <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Contraseña:</label>
                <input type="password" name="contrasena" class="usuario <%= locals.errors && errors.contrasena ? 'is-invalid' : null %>" placeholder="Contraseña">
                <% if (locals.errors && errors.contrasena) { %>
                    <div class="text-danger">
                    <%= errors.contrasena.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>DNI:</label>
                <input type="text" name="dni" class="usuario <%= locals.errors && errors.dni? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.dni : null %>" placeholder="Documento Nacional de identidad">
                <% if (locals.errors && errors.dni) { %>
                    <div class="text-danger">
                    <%= errors.dni.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Cumpleaños:</label>
                <input type="date" name="fecha_nacimiento" class="usuario <%= locals.errors && errors.fecha_nacimiento ? 'is-invalid' : null %>"value="<%= locals.oldData ? oldData.birthdate : null %>">
                <% if (locals.errors && errors.fecha_nacimiento) { %>
                    <div class="text-danger">
                    <%= errors.fecha_nacimiento.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Teléfono:</label>
                <input type="text" name="telefono" class="usuario <%= locals.errors && errors.telefono? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.telefono : null %>" placeholder="Numero de telefono">
                <% if (locals.errors && errors.telefono) { %>
                    <div class="text-danger">
                    <%= errors.telefono.msg %>
                    </div>
                <% } %>
            </div>

            <div class="control-formulario">
                <label>Imagen de perfil:</label>
                <input type="file" name="image" class="usuario" id="foto-producto">
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                    <%= errors.image.msg %>
                    </div>
                <% } %>
            </div>

            <button type="submit" class="boton-formulario">Registrarme</button>
    
    </form>

    <script src="/js/sweetalert2.min.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
</main>

<%- include('./../views/partials/footer') %>
</body>
</html>